.form-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #f7f7f7;
}


.form-card {
  width: 500px;
  max-width: 90%;
  background: white;
  justify-content: center;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.btn-primary-custom {
  width: 40%;
  background: #06772f;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  margin: 20px auto 0;
  justify-content: center;
  transition: 0.3s ease;

  &:hover {
    background: #39bc05;
  }
}

.devise-links {
    padding: 12px;
  justify-content: center;
}
