// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pets/dashboard";
@import "pages/index";
@import "pages/login";
@import "pages/signup";
@import "pages/vaccinations";
@import "pets/sidebar";

.grass {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 1;
  background:
    repeating-linear-gradient(
      90deg,
      #4caf50 0px,
      #4caf50 8px,
      #5cb85c 8px,
      #5cb85c 16px
    );
}
